.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.label {
    margin-bottom: 10px;
}

.input {
    height: 30px;
    margin-bottom: 20px;
    width: 260px;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    color: white;
    border: 1px solid black;
    padding: 5px;
    &:focus {
        border: 1px solid white;
    }
}

