.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.input {
  height: 30px;
  margin-bottom: 20px;
  width: 260px;
  border-radius: 4px;
  border: 1px solid black;
  outline: transparent;
  background-color: transparent;
  color: white;
  padding: 5px;
  &:focus {
    border: 1px solid white;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #0051ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  &:hover, &:focus {
    background-color: #0044cc;
  }
}

.svg {
  margin-left: 20px;
}
