.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  background-color: rgba(100, 22, 22, 0.74);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.svg {
  margin-left: 10px;
}

.names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}
